@font-face {
    font-family: "zirkon";
    src: url(GT-Zirkon-v2-Medium.woff) format("woff");
}

body {
    font-family: "zirkon";
    -webkit-font-smoothing: antialiased;
    font-size: 3em;
    color: red;
}

h1, h2 {
    font-weight: normal;
    font-size: 2em;
    margin: 0;
    letter-spacing: -.03em;
}

p {
    font-size: .5em;
    width: 50%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
}

a {
    color: red;
    text-decoration: none;
}

a:hover {
    color: black;
}

@media only screen and (max-width: 800px) {
    p {
        width: 100%;
    }
}